rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, delete, create, update: if request.auth.uid == userId;
      match /lifts/{lift} {
        allow read, create, delete, update: if request.auth.uid == userId;
      }
      match /daysWithLifts/{day} {
        allow read: if request.auth.uid == userId;
      }
    }
  }
}
