@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$footer-padding: 1rem 1.5rem 1rem;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';

nav
  margin-bottom: 10px;

.content
  padding: 5px;
  flex-grow: 1;

@media screen and (min-width: 50em)
  body
    max-width: 50em;

body
  margin: 0 auto;

.lift-card
  margin: 10px;
  height: 80px;
  display: flex;
  flex-grow: 1;
  max-width: 50%;

.flex
  display: flex;
  flex-wrap: wrap;

#root
  min-height: 100vh;
  display: flex;
  flex-direction: column;

footer
  text-align: center;

td
  input
    font-size: inherit;
    border: 0;
    background-color: inherit;
